
<!-- <h1 class="alert alert-dark" >Hello World</h1> -->

 <!-- ------------------------------TaskDay3-------------------------------------------------- -->
<!-- <div>
    <div> -->
          <!-- child to Parent -->
        <!-- <app-registration (registerEvent)="GetData($event)"></app-registration>
    </div>
    <div> -->
         <!-- Parent To child -->
        <!-- <app-students [fromRegsToStuByParent] = "students"></app-students> -->
        <!-- <p>{{parentToStudFromReg.name}}</p>
        <p>{{parentToStudFromReg.age}}</p> -->
    <!-- </div>
</div> -->
 <!-- -------------------------------------------------------------------------------------------->
<!-- <app-form-validation></app-form-validation> -->

 <!-- ------------------------------TaskDay3------------------------------------------------------>
 <div >
    <app-header></app-header>
 </div>
 <div class="alert alert-primary w-75 m-auto text-center">
    <router-outlet></router-outlet>
 </div>
 <!-- -------------------------------------------------------------------------------------------->



